@{
    ViewData["Title"] = "Home Page";
}

<div class="Cont ImageShow" >
	<div class="center">
		<h1>Super Flash Sale <br> 50% Off</h1>
	</div>
</div>

<div class="Cont Show">
	<div class="center">
		<div class="ShowItem">
			<h3>FS - QUILTED MAXI <br> CROSS BAG</></h3>
			<span>$299,43</span>
			<p><i >$534,33 </i><b>24% off</b></p>
		</div>
		<div class="ShowItem">
			<h3>FS - NIKE AIR <br> MAX 270 REACT AIR...</></h3>
			<span>$299,43</span>
			<p><i >$534,33 </i><b>24% off</b></p>
		</div>
		<div class="ShowItem">
			<h3>FS - NIKE AIR <br> MAX 270 REACT AIR...</></h3>
			<span>$299,43</span>
			<p><i >$534,33 </i><b>24% off</b></p>
		</div>
	</div>
</div>

<div class="Cont" style="margin-top:300px!important">
	<h1>
		BEST SELLER
	</h1>
</div>

<div class="Cont">
	<div class="center" style="justify-Content;width:45%;font-size:23px">
		<span style="color:#0099ff;text-decoration:underline">All</span>
		<span>Bags</span>
		<span>Sneakers</span>
		<span>Belt</span>
		<span>Sunglasses</span>
	</div>
</div>

<!-- the majoe show case-->
<div class="Cont">
	<div class="center" style="flex-wrap:wrap">
		<div class="storeItem">
			<div style="background-image:url('../Images/fineShoe.png');">

			</div>
			<div>
				<h4>Nike Air Max 270 React</h4>
				<div >
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/starfade.png" alt="" />
				</div>
				<div>
					<span>$299,43</span>
					<span><i>$534,33 </i>24% off</span>
				</div>
			</div>
		</div>
		<div class="storeItem">
			<div style="background-image:url('../Images/blackbag.png');">

			</div>
			<div>
				<h4>Nike Air Max 270 React</h4>
				<div >
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/starfade.png" alt="" />
				</div>
				<div>
					<span>$299,43</span>
					<span><i>$534,33 </i>24% off</span>
				</div>
			</div>
		</div>
		<div class="storeItem">
			<div style="background-image:url('../Images/ShoeUnder.png');">
			</div>
			<div>
				<h4>Nike Air Max 270 React</h4>
				<div >
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/starfade.png" alt="" />
				</div>
				<div>
					<span>$299,43</span>
					<span><i>$534,33 </i>24% off</span>
				</div>
			</div>
		</div>
		<div class="storeItem">
			<div style="background-image:url('../Images/yellowShow.png');">
			</div>
			<div>
				<h4>Nike Air Max 270 React</h4>
				<div>
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/starfade.png" alt="" />
				</div>
				<div>
					<span>$299,43</span>
					<span><i>$534,33 </i>24% off</span>
				</div>
			</div>
		</div>
		<div class="storeItem">
			<div style="background-image:url('../Images/finepurse.png');">
			</div>
			<div>
				<h4>Nike Air Max 270 React</h4>
				<div>
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/starfade.png" alt="" />
				</div>
				<div>
					<span>$299,43</span>
					<span><i>$534,33 </i>24% off</span>
				</div>
			</div>
		</div>
		<div class="storeItem">
			<div style="background-image:url('../Images/brownPurse.png');">
			</div>
			<div>
				<h4>Nike Air Max 270 React</h4>
				<div>
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/starfade.png" alt="" />
				</div>
				<div>
					<span>$299,43</span>
					<span><i>$534,33 </i>24% off</span>
				</div>
			</div>
		</div>
		<div class="storeItem">
			<div style="background-image:url('../Images/RedShoe.png');">
			</div>
			<div>
				<h4>Nike Air Max 270 React</h4>
				<div>
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/starfade.png" alt="" />
				</div>
				<div>
					<span>$299,43</span>
					<span><i>$534,33 </i>24% off</span>
				</div>
			</div>
		</div>
		<div class="storeItem">
			<div style="background-image:url('../Images/blackbag.png');">
			</div>
			<div>
				<h4>Nike Air Max 270 React</h4>
				<div>
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/star copy.png" alt="" />
					<img src="~/Images/starfade.png" alt="" />
				</div>
				<div>
					<span>$299,43</span>
					<span><i>$534,33 </i>24% off</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="Cont">
	<h3 style="text-decoration:underline;color:#336699; cursor:pointer" >LOAD MORE</h3>
</div>

<div class="Cont banner" style="margin-bottom:70px;">
	<div class="center" style="color:white">
		<div style="flex-grow:1;align-self:center">
			<h1 style="font-size:50px">Addidas Men Running <br>Sneakers </h1>
			<h4>Performance and design taken right to the edge</h4>
			<div style="font-weight:700">
				<span style="text-decoration: underline;">SHOP N</span><span>OW</span>
			</div>
		</div>
		<div style="flex-grow:1;align-self:center;position:relative">
			<img src="~/Images/bannerShoe.png" style="position:absolute;top:-320px;right:0px" width="710px" height="auto" alt="" />
		</div>
	</div>
</div>

<div class="Cont CustomerCare">
	<div class="center">
		<div>
			<span class="fa fa-shipping-fast"></span>
			<h2>FREE SHIPPING</h2>
			<div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
		</div>
		<div>
			<span class="fa fa-dollar-sign"></span>
			<h2>100% REFUND</h2>
			<div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
		</div>
		<div>
			<span class="fa fa-teamspeak"></span>
			<h2>SUPPORT 24/7</h2>
			<div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
		</div>
	</div>
</div>

<div class="Cont" style="margin-top:100px!important;margin-bottom:70px!important">
	<h1>
		LASTEST NEWS
	</h1>
</div>

<div class="Cont News_details">
	<div class="center">
		<div style="display:flex">
			<img src="~/Images/nike.png" alt="" />
			<div>
				<span style="color:gray" class="date">01 Jan, 2015</span>
				<span style="font-size:25px;font-weight:600;display:flex">Fashion Industry</span>
				<div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
			</div>
		</div>
		<div style="display:flex">
			<img src="~/Images/figma.png" alt="" />
			<div>
				<span style="color:gray" class="date">01 Jan, 2015</span>
				<span style="font-size:25px;font-weight:600;display:flex">Best Design Tools</span>
				<div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
			</div>
		</div>
		<div style="display:flex">
			<img src="~/Images/kronos.png" alt="" />
			<div>
				<span style="color:gray" class="date">01 Jan, 2015</span>
				<span style="font-size:25px;font-weight:600;display:flex">HR Community</span>
				<div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
			</div>
		</div>
	</div>
</div>

<div class="Cont" style="margin-top:100px!important;margin-bottom:70px!important">
	<h1>
		FEATURED PRODUCTS
	</h1>
</div>

<div class="Cont Featured_details">
	<div class="center">
		<div style="display:flex">
			<img src="~/Images/Vector.png" alt="" />
			<div>
				<div>
					<h4>Black Swade Nike<br>Sneakers</h4>
					<div>
						<img src="~/Images/star copy.png" alt="" />
						<img src="~/Images/star copy.png" alt="" />
						<img src="~/Images/star copy.png" alt="" />
						<img src="~/Images/star copy.png" alt="" />
						<img src="~/Images/starfade.png" alt="" />
					</div>
					<div>
						<span style="color:red">$499</span>
						<span style="text-decoration:line-through;color:grey">$599</span>
					</div>
				</div>
			</div>
		</div>
		<div style="display:flex">
			<img src="~/Images/Vector.png" alt="" />
			<div>
				<div>
					<div>
						<h4>Black Swade Nike<br>Sneakers</h4>
						<div>
							<img src="~/Images/star copy.png" alt="" />
							<img src="~/Images/star copy.png" alt="" />
							<img src="~/Images/star copy.png" alt="" />
							<img src="~/Images/star copy.png" alt="" />
							<img src="~/Images/starfade.png" alt="" />
						</div>
						<div>
							<span style="color:red">$499</span>
							<span style="text-decoration:line-through;color:grey">$599</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="display:flex">
			<img src="~/Images/Vector.png" alt="" />
			<div>
				<div>
					<h4>Black Swade Nike<br>Sneakers</h4>
					<div>
						<img src="~/Images/star copy.png" alt="" />
						<img src="~/Images/star copy.png" alt="" />
						<img src="~/Images/star copy.png" alt="" />
						<img src="~/Images/star copy.png" alt="" />
						<img src="~/Images/starfade.png" alt="" />
					</div>
					<div>
						<span style="color:red">$499</span>
						<span style="text-decoration:line-through;color:grey">$599</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="Cont Search" style="margin-top:100px!important;margin-bottom:70px!important;display:inline-flex">
	<input type="text" value="" style="border-radius: 5px 0 0 5px ;width:400px;border-color:#40BFFF;border-style:solid;outline:none;padding:10px" placeholder="Search query..." />
	<button style="cursor:pointer;background-color:#40BFFF;color:white;border:none;padding:20px 25px;border-radius:0 5px 5px 0">Search</button>
</div>